.logo {
    width: 44px;
    height: 43px;
    margin-right: 30px;
}

@media (max-width:500px) {
    .logo {
        width: 24px;
        height: 23px;
        /* margin-right: 15px; */
        margin-left: 10px;
        margin-top: 10px;
    }
}

.navMobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    transform: translateX(110%);
    transition: transform linear 0.3s, opacity linear 0.3s;
    opacity: 0;
}

.fa-times {
    font-size: 30px;
    left: -35px;
    margin: 5px;
    color: #fff;
    position: absolute;
}

.navMobile-list {
    margin-top: 25px;
    padding-left: 12px;
}

.navMobile-link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px 0;
    font-size: 15px;
}

.nav-input:checked~.overPlay {
    display: block;
}

.nav-input:checked~.navMobile {
    transform: translateX(0%);
    opacity: 1;
}

.overPlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* menuMobile */

@media (max-width:1023px) {}

