.mainMaxWidth {
  max-width: 940px;
  margin: auto;
}
.ant-tabs-nav-wrap {
  padding: 2rem 0rem;
}

.tab-scroll-bar {
  max-height: 650px;
  overflow: auto !important;
}

.tab-scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.tab-scroll-bar::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}

.tab-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(200, 200, 200);
}
.dsPhim{
  border-bottom: 1px solid rgb(228, 225, 225);
  padding: 20px 0;
}
.movie__listCinemas {
  .ant-collapse {
    background-color: white;
  }
  .hideOnPC {
    display: none;
  }
  .listCinemasMobile {
    .titleCinemaMobile {
      display: flex;
      align-items: center;
      .logoCinemasMobile {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      .nameCinemasMobile {
        font-size: 17px;
      }
    }
    .titleCinemasChildMobile {
      display: flex;
      align-items: center;
      .logoCinemasChildMobile {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      .nameCinemasChildMobile {
        color: #000;
        font-weight: 600;
      }
      .addCinemasChildMobile {
        font-size: 13px;
        color: #9b9b9b;
      }
    }
    .infoFilmCinemaMobile {
      display: flex;
      align-items: center;
      .imgFilmMobile {
        width: 40px;
        height: 40px;
        border-radius: 3px;
        margin-right: 10px;
      }
      .infoFilmMobileDetail {
        .typeAgeMobile {
          color: #fff;
          background-color: #fb4226;
          border-radius: 4px;
          min-width: 33px;
          text-align: center;
          display: inline-block;
          margin-right: 8px;
        }
        .nameFilmCinemaMobile {
          font-weight: 600;
        }
        .timeReviewFilmMobile {
          font-size: 12px;
          color: #9b9b9b;
        }
      }
    }
    .movieTime {
      padding: 5px 10px;
      border: 1px solid #9b9b9b;
      text-align: center;
      border-radius: 7px;
      color: #9b9b9b;
      background-color: #fafafa;
      border: 1px solid #e4e4e4;
      cursor: pointer;
      margin: 0 10px 10px 0 !important;
    }
    .cinemaChildMobile {
      .ant-collapse-content > .ant-collapse-content-box {
        padding: 10px 0;
        border: 0;
      }
      .ant-collapse.ant-collapse-icon-position-right.filmMobile {
        border: none;
      }
    }
    .ant-collapse.ant-collapse-icon-position-right.cinemaChildMobile {
      border: none;
      border-radius: 20px !important;
    }
  }
}

// responsive
@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none !important;
    
  }
  .movie__listCinemas .hideOnPC {
    display: block !important;
    max-width: 100rem !important;
    width: 100% !important
  }
}

@media screen and (max-width: 450px) {
  .movie__listCinemas .hideOnPC {
    display: block !important;
    max-width: 100rem !important;
    width: 100% !important
  }
}

