.cumRapcss{
    margin: 3rem auto;
    width: 80%;
    max-width: 100rem;
    /* border: 1px solid black; */
    border: 1px solid #ebebec;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 2px 2px 15px 4px rgb(0 0 0 / 30%);
    
}

/* .backgroundSlick{
    background-color: #848484;
    clip-path: polygon(100% 0%, 100% 80%, 0% 100%, 0% 20%);
    width: 100%;
    height: 700px;

}
.groupItem{
 
}  */