.active_Film {
    color: #000;
    font-size: 30px;
    border: none;
    padding: 0 1rem;
    font-weight: 500;
    transition: all 0.1s;
    height: 24px;
    line-height: 24px;
    filter: drop-shadow(10px 8px 60px #000000);
    -webkit-filter: drop-shadow(10px 8px 60px #000000);
    -moz-filter: drop-shadow(10px 8px 60px #000000);
}

.none_active_Film {
    border: none;
    padding: 0 1rem;
    color: black;
    font-size: 22px;
    font-weight: 500;
    transition: all 0.2s;
    height: 24px;
    line-height: 24px;
    opacity: 0.25;
}

.none_active_Film:hover {
    color: #000;
    font-size: 30px;
    border: none;
    padding: 0 1rem;
    font-weight: 500;
    transition: all 0.1s;
    height: 24px;
    line-height: 24px;
    opacity: 1;
}

// mobile
@media (max-width:500px) {
    .active_Film {
        font-size: 19px;
    }
    .none_active_Film {
        font-size: 13px;
    }
    .none_active_Film:hover {
        font-size: 19px;
    }
.slick-slider .slick-track, .slick-slider .slick-list {
    padding: 0 !important;
}
}

.text-left{
    
}

.slick-list {
    padding: 10px !important;
}

.ArrowCustom {
    display: flex !important;
    position: absolute !important;
    bottom: 0;
    top: 100px;
    align-items: center !important;
    opacity: 0.5;
    transition: all 0.6s ease-in-out;
    &:hover {
        transform: scale(1.2);
        .ArrowLeft {
            transition: all 0.7s;
            &:hover {
                color: rgb(71, 71, 71);
            }
        }
        .ArrowRight {
            transition: all 0.7s;
            &:hover {
                color: rgb(71, 70, 70);
            }
        }
    }
}