@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
}

.test {
    background-color: yellow !important;
}


/* --------------------------------------------------------------------------------------- */


/* Loader
/* --------------------------------------------------------------------------------------- */

.o-page-loader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .5s;
    background: #fff;
    z-index: 999;
}

.o-page-loader--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.o-page-loader--spinner {
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    animation: tada 1.2s infinite ease-in-out;
    -webkit-animation: tada 1.2s infinite ease-in-out;
}

.o-page-loader--spinner img {
    width: 512px;
    height: 288px;
    background: #fff;
}

.o-page-loader--message {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}


/* animation */


/* @keyframes tada {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        -ms-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        -ms-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        -ms-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
} */